controllers:
  main:
    containers:
      main:
        image:
          tag: v0.10.3
        env:
          DB_HOSTNAME: immich-database-rw
          DB_PORT: "5432"
          DB_USERNAME: immich
          DB_PASSWORD:
            valueFrom:
              secretKeyRef:
                name: immich-db-app
                key: password
          DB_DATABASE_NAME: immich
          REDIS_HOSTNAME: redis-master
          REDIS_PORT: "6379"
          REDIS_PASSWORD:
            valueFrom:
              secretKeyRef:
                name: redis
                key: redis-password
immich:
  metrics:
    # Enabling this will create the service monitors needed to monitor immich with the prometheus operator
    enabled: false
  persistence:
    # Main data store for all photos shared between different components.
    library:
      # Automatically creating the library volume is not supported by this chart
      # You have to specify an existing PVC to use
      existingClaim: task-pv-claim
  # configuration is immich-config.json converted to yaml
  # ref: https://immich.app/docs/install/config-file/
  #
  configuration: {}
    # trash:
    #   enabled: false
    #   days: 30
    # storageTemplate:
    #   enabled: true
    #   template: "{{y}}/{{y}}-{{MM}}-{{dd}}/{{filename}}"
valkey:
  enabled: false
