name: Terraform

on:
  pull_request:
  push:
    branches: ["main"]
  workflow_dispatch:

concurrency:
  group: terraform-production
  cancel-in-progress: false

permissions:
  contents: read

defaults:
  run:
    shell: bash
    # WICHTIG: immer im gleichen Ordner arbeiten
    working-directory: .

env:
  TF_IN_AUTOMATION: "true"
  TF_INPUT: "false"

  # Terraform Variablen
  TF_VAR_project: ${{ secrets.OS_PROJECT }}
  TF_VAR_username: ${{ secrets.OS_USERNAME }}
  TF_VAR_password: ${{ secrets.OS_PASSWORD }}
  TF_VAR_domain_name: "Default"
  TF_VAR_ssh_public_key: ${{ secrets.SSH_PUBLIC_KEY }}
  TF_VAR_ssh_private_key: ${{ secrets.SSH_PRIVATE_KEY }}

  # OpenStack Auth
  OS_AUTH_URL: ${{ secrets.OS_AUTH_URL }}
  OS_USERNAME: ${{ secrets.OS_USERNAME }}
  OS_PASSWORD: ${{ secrets.OS_PASSWORD }}
  OS_PROJECT_NAME: ${{ secrets.OS_PROJECT }}

  OS_USER_DOMAIN_NAME: ${{ secrets.OS_USER_DOMAIN_NAME || 'Default' }}
  OS_PROJECT_DOMAIN_NAME: ${{ secrets.OS_PROJECT_DOMAIN_NAME || 'Default' }}

  OS_REGION_NAME: ${{ secrets.OS_REGION_NAME }}
  OS_INTERFACE: ${{ secrets.OS_INTERFACE || 'public' }}
  OS_IDENTITY_API_VERSION: "3"

jobs:
  plan:
    name: Terraform Plan
    runs-on: self-hosted
    environment: production

    steps:
      - uses: actions/checkout@v4

      - uses: hashicorp/setup-terraform@v3

      # Sicherstellen, dass immer derselbe Workspace genutzt wird
      - name: Select workspace
        run: |
          terraform workspace select production || terraform workspace new production

      - name: Init
        run: terraform init

      - name: Fmt
        run: terraform fmt -check -recursive

      - name: Validate
        run: terraform validate

      - name: Debug state
        run: |
          echo "PWD=$(pwd)"
          terraform workspace show
          ls -la terraform.tfstate* || true

      - name: Plan
        run: terraform plan -input=false -out=tfplan

      - name: Upload plan artifact
        uses: actions/upload-artifact@v4
        with:
          name: tfplan
          path: tfplan

  apply:
    name: Terraform Apply
    runs-on: self-hosted
    needs: plan
    if: github.ref == 'refs/heads/main' && github.event_name == 'push'
    environment: production

    steps:
      - uses: actions/checkout@v4

      - uses: hashicorp/setup-terraform@v3

      - name: Select workspace
        run: |
          terraform workspace select production

      - name: Init
        run: terraform init

      - name: Download plan artifact
        uses: actions/download-artifact@v4
        with:
          name: tfplan

      - name: Apply
        run: terraform apply -auto-approve -input=false tfplan
