name: Terraform

on:
  pull_request:
  push:
    branches: ["main"]
  workflow_dispatch:

permissions:
  contents: read

concurrency:
  group: terraform-production
  cancel-in-progress: false

jobs:
  terraform:
    runs-on: ubuntu-latest
    environment: production
    defaults:
      run:
        shell: bash

    env:
      TF_IN_AUTOMATION: "true"
      TF_INPUT: "false"

      # OpenStack creds -> Terraform Variablen
      TF_VAR_project:  ${{ secrets.OS_PROJECT }}
      TF_VAR_username: ${{ secrets.OS_USERNAME }}
      TF_VAR_password: ${{ secrets.OS_PASSWORD }}

      # SSH Keys als Inhalt
      TF_VAR_ssh_public_key:  ${{ secrets.SSH_PUBLIC_KEY }}
      TF_VAR_ssh_private_key: ${{ secrets.SSH_PRIVATE_KEY }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6

      - name: Terraform Init
        run: terraform init

      - name: Terraform Format (check)
        run: terraform fmt -check -recursive

      - name: Terraform Validate
        run: terraform validate

      - name: Terraform Plan
        run: terraform plan

      - name: Terraform Apply
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        run: terraform apply -auto-approve
