name: Terraform Destroy

on:
  workflow_dispatch:

jobs:
  destroy:
    runs-on: self-hosted
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init

      
       #optional (nur wenn du Workspaces nutzt)
      - name: Select Workspace
        run: terraform workspace select prod || terraform workspace new prod

      - name: Terraform Destroy
        run: terraform destroy -auto-approve -var-file=/home/ubuntu/ahmad_info/destroy.tfvars
